*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

button{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px ;
    border: none;
    border-radius: 4px;
}

/* Navbar Style */
nav div img {
    width: 139px;
}

li{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav ul {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 32px;
}

.btn-nav button{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
}
.btn nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav button:hover{
    cursor: pointer;
    color: #469165;
    background-color: #FFFFFF;
    border: 1px solid #469165;
}

/* hero section style */
.hero-section{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:120px 240px 200px ;
}

.hero-section div .text-welcome{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 1000px;
    display: inline;
    background-color: #FFFFFF;
    color: #469165;
}

.hero-section .main-text{
    text-align: center;
}

.hero-section div .text-white{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    padding-top: 16px;
}
.hero-section div .text-green{
    color: #469165;
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 16px;
}

.hero-section .hero-description{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.hero-section .build-vault{
    background-color: #469165;
    color: #FFFFFF;
}
.hero-section .build-vault:hover{
    cursor: pointer;
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.hero-section .play-btn{
    background: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.hero-section .play-btn:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #469165;
}
.btn-hero{
    margin-top: 24px;
    display: flex;
    gap: 16px;
}


/* card section style */
.card-section h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 80px;
}

.card-section .card-description {
    text-align: center;
    color: #627382;
    font-size: 16px;
    padding-top: 20px;
}

.cards img {
    background-color: #f95555;
    padding: 16px;
    border-radius: 50%;
}

.card-section .cards{
    padding: 70px 120px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cards div{
    text-align: center;
    padding:40px 20px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.cards h2{
    padding-top: 20px;
}
.cards p{
    padding-top: 20px;
    color: #627382;
}


/* brain section style */
.brain-section{
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.brain-section .text-brain h4{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.brain-section .text-brain h1{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

.brain-section .text-brain p {
    font-size: 16px;
    color: #627382;
    padding-bottom: 30px;
}

.brain-section .text-brain ul li{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 16px;
}


/* challenge section style */
.challenge-section{
    padding: 0 120px 120px 120px;
}
.challenge-section div{
    text-align: center;
    background-color: #F7F6F2;
    padding:80px 40px ;
}

.challenge-section h1{
    font-size: 40px;
    padding-bottom: 16px;
}
.challenge-section .challenge-text{
    color: #627382;
    padding-bottom: 24px;
}
.challenge-section div button{
    background-color: #469165;
    color: #FFFFFF;
    margin: 0 auto 16px;
    box-shadow: 5px 5px 20px rgba(70, 145, 101, 0.4);
}
.challenge-section div button:hover{
    cursor: pointer;
    background: none;
    color: #469165;
    border: 1px solid #469165;
}
.challenge-section div .offer{
    display: inline;
    padding-top: 16px;
    color: #627382;
}


/* footer style */
footer {
    background-color:#001931;
}

footer .socials{
    padding: 120px 120px 80px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 400;
}
.socials .footer-link h3{
    padding-bottom: 16px;
}
.socials .footer-link ul i{
    font-size: 24px;
} 

footer .copyrights p{
    color: white;
    text-align: center;
    padding: 30px 0px;
}
 footer hr{
    width: 85%;
    margin: 0 auto;
 }